@model string
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body style="padding: 36pt; background-color: #bbbbbb;">
    <h1>HELLO WORLD</h1>
    <div>
        <div style="color: #ff0000; font-size: 32pt; font-family: sans-serif;">@Model</div>
        Hello World (from the view)
    </div>
</body>
</html>