<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sports Store</title>
    <style>
        body{
            color: darkblue;
            background-color: lightblue;
            font-family: sans-serif;
            border: 3px #000033 solid;
            padding: 18px;
            margin: 24px;
            
            }


    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>